body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #58487ef1, #1d0848, #2700ea);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: Arial, sans-serif;
}

.container {
  background: linear-gradient(135deg, #e0e0e0f1, #938ba5, #a7a1c8);
  width: 90%;
  max-width: 700px;
  margin-top: 40px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  color: #c1005d;
}

nav a:hover {
  color: #ff009d;
}



input, button {
  margin: 8px 0;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

button {
  background: #004cff;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 6px;
}

button:hover {
  background: #0037c9;
}

.success {
  color: green;
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
}

.link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
